<!DOCTYPE html>

<html>
   <head>
      <title>FCC APIs and Microservices Projects</title>
      <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
      <link href="style.css" rel="stylesheet" type="text/css">
   </head>

   <body>
    <h1 id="index_title">FCC APIs and Microservices Course Projects</h1>
    <hr />
    <div class="container">
      <ol>
        <li><a href="/timestamp">Timestamp Microservice</a></li>
        <li><a href="/headerparser">Request Header Parser Microservice</a></li>
        <li><a href="/urlshortener">URL Shortener Microservice</a></li>
        <li><a href="/users">Exercise Tracker</a></li>
        <li><a href="/filemetadata">File Metadata Microservice</a>
          <span>&nbsp;&nbsp; (under construction)</span>
        </li>
      </ol>
    </div>
  </body>
</html>
