<!DOCTYPE html>

<html>
  <head>
    <title>URL Shortener Microservice | freeCodeCamp.org</title>
    <link
      rel="icon"
      type="image/png"
      href="https://cdn.freecodecamp.org/universal/favicons/favicon-16x16.png"
    />
    <link href="style.css" rel="stylesheet" type="text/css" />
  </head>

  <body>
    <h1>URL Shortener Microservice</h1>
    <main>
      <section>
        <form action="api/shorturl" method="POST">
          <fieldset>
            <legend>URL Shortener</legend>
            <label for="url_input">URL:</label>
            <input id="url_input" type="text" name="url" placeholder="https://www.freecodecamp.org/" />
            <input type="submit" value="POST URL" />
          </fieldset>
        </form>
      </section>
      <p><small>(Enter url and take note or screenshot of "short_url" 3-digit short code.<br>
        Then enter <code>/api/shorturl/3-digit-code</code> after project url to land back on your original url.)</small></p>
    </main>
    <footer>
      <p>By <a href="https://www.freecodecamp.org/">freeCodeCamp</a></p>
      <p>
        <small>
          Back to main page: <a href="/">FCC APIs and Microservices Course Projects</a>
        </small>
      </p>
      <div id="signature">
        <small><i>API by David Rhoton, 2021</i></small>
      </div>
    </footer>
  </body>
</html>
